@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Noto+Serif&family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: gold;
}
.makeStyles-container-30  {
    width: 75% ;
    display: flex;
    padding: 40px;
    margin-top: -23px !important;
    align-items: center !important;
    flex-direction: column;
    justify-content: center;
  }

  